.valid {
  color: rgb(0, 200, 0) !important;
}

.inputFormula {
  transition: color 0.25s ease-in-out;
  border: none;
  border-radius: 1.5rem;
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  color: red;
  //width: 66.6%;
}

.formulaWrapper {
  display: flex;
  flex-direction: column;
  width: 66.6%;
}

.formulaButtonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.error {
  visibility: hidden;
  pointer-events:none;
}

.showError {
  visibility: visible;
  top: var(--top);
  left: var(--left);
}

.container {
  display: flex;
  flex-direction: column;
  width: 80vw;
}
.truthTable {
  align-self: center;
  background: white;
  padding: 0;
  border: rgba(0, 0, 0, 0.2) solid 1px;
  border-spacing: 0;
  thead {
    background: lightgray;
  }
  tr.tableFalseRow {
    background: rgb(255, 220, 220);
  }
  td,th {
    padding: 0.5rem;
    text-align: center;
  }
  th {
    border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
  }
  th:last-child {
    padding: 0.5rem 2rem;
  }
  td:nth-child(n+1):not(:last-child) {
    border-right: rgba(0, 0, 0, 0.2) solid 1px;
  }
}
.buttons {
  display: flex;
  flex-direction: row;
  // https://stackoverflow.com/questions/20626685/better-way-to-set-distance-between-flexbox-items
  margin: 0 -15px;
}
.hidden {
  display: none;
}
.parseTreeContainer {
  display:flex;
  justify-content: center;
}

.svgGroup {
  path {
    fill: none;
    stroke: black;
    stroke-width: 2;
  }
  text {
    fill: white;
    text-anchor: middle;
  }
}
.variableNode {
  fill: white;
  text {
    font-weight: 900;
    fill: black;
  }
}
.operatorNode {
  circle {
    stroke: white;
    stroke-width: 2px;
    stroke-linejoin: round;
  }
  fill: rgba(177, 177, 177, 1);
  text {
    font-weight: 900;
  }
}

.circle {
  fill: white;
}

.button {
  margin: 0 15px;
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.01s ease-out;

  &:active {
    transform: translateX(1px) translateY(1px);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }
}