.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 1000;
}

.controlButton {
  position: relative;
  color: red;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  //margin: 0.25rem 0.75rem;
  font-weight: 900;
  font-size: 2rem;
  transition: opacity 0.25s ease-in, transform 0.01s ease-in;
  opacity: 0.1;
  cursor: default;
  &.active {
    &:hover {
      opacity: 0.9;
    }
    &:active {
      transform: scale(1.3);
    }
    opacity: 0.6;
    cursor: pointer;
  }
  user-select: none;

}

.availableSteps {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  stroke: rgba(0, 0, 0, 0.1);

}
.stepArc {
  transition: stroke 0.2s ease-out;
}
.stepActive {
  stroke-width: 3;
  stroke: rgba(0, 0, 0, 0.3);
}

.errorAlert {
  background: white;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0 0.5rem;
  border-radius: 5px;
  color: red;
  font-weight: 600;
  //border: 1px red dashed;
  //border-color: red;
  //border-leng
  border-spacing: 100px;
  margin-right: 1rem;
  //padding-right: 2rem;
  //font-size: 0.8rem;

  //position: relative;
  span {
    margin-right: 1rem;
  }

  svg {
    //width: 1rem;
    //position: absolute;
    //top: 1px;
    //right: 1px;
    fill:red;
  }
}
